name: Istio Manual Tests
on: [push, pull_request, workflow_dispatch]

jobs:
  gencheck:
    runs-on: ubuntu-latest
    container:
      image: gcr.io/istio-testing/build-tools:master-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fix Git Trust and Run Gen Check
        run: |
          git config --global --add safe.directory /__w/istio-fork/istio-fork
          make gen-check TAG="manual-test" HUB="docker.io/istio" ARTIFACTS="./artifacts" BUILD_WITH_CONTAINER="0" GOBIN="/usr/local/bin" GOCACHE="/tmp/cache" GOMODCACHE="/tmp/cache" XDG_CACHE_HOME="/tmp/cache"

  unit-test:
    runs-on: ubuntu-latest
    container:
      image: gcr.io/istio-testing/build-tools:master-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Fix Git Trust and Run Unit Tests
        run: |
          git config --global --add safe.directory /__w/istio-fork/istio-fork
          make -e BUILD_WITH_CONTAINER="0" T=-v build racetest binaries-test TAG="manual-test" HUB="docker.io/istio"
