name: Istio Manual Tests
on: [push, pull_request, workflow_dispatch]

jobs:
  gencheck:
    runs-on: ubuntu-latest
    container:
      # Use the same image Istio uses for building
      image: gcr.io/istio-testing/build-tools:master-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Gen Check
        run: |
          # We manually set the variables exactly like your Prow config
          make gen-check \
          ARTIFACTS="./artifacts" \
          BUILD_WITH_CONTAINER="0" \
          GOBIN="/usr/local/bin" \
          GOCACHE="/tmp/cache" \
          GOMODCACHE="/tmp/cache" \
          XDG_CACHE_HOME="/tmp/cache"

  unit-test:
    runs-on: ubuntu-latest
    container:
      image: gcr.io/istio-testing/build-tools:master-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Unit Tests
        run: |
          # The -e flag ensures environment variables are passed to the sub-make
          make -e BUILD_WITH_CONTAINER=0 T=-v build racetest binaries-test
